.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.content {
  width: 60%;
  height: 80%;
  position: relative;
}

.textContainer {
  width: 60%;
  position: absolute;
}

.title {
  font-size: 3.8rem;
  width: 100%;
  margin: 0;
}

.subtitle {
  margin-left: 10px;
  font-size: 2em;
}

.list {
  margin-left: 10px;
}

.linkForms :hover {
  color: #2caf95;
}

.link {
  font-size: 1.5em;
}

.imageContainer {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.image {
  width: 35rem;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}

.gif {
  position: absolute;
  width: 100px;
  left: 450px;
  top: 30px;
}


@media screen and (max-width: 1440px) {
  .content{
    height: 50%;
  }
  .image {
    width: 30rem;
    height: auto;
    position: absolute;
  }
}
@media screen and (max-width: 1280px) {
  .content {
    width: 70%;
    height: 50%;
  }
  .image {
    width: 35rem;
  }
}
@media screen and (max-width: 1024px) {
  .content {
    width: 80%;
    height: 80%;
  }
  .textContainer {
    width: 100%;
    height: 100%;
  }
  .title {
    margin: auto;
    padding: 0;
    padding-bottom: 1.5em;
    font-size: 4em;
    text-align: center;
    width: 90%;
  }
  .subtitle {
    padding: 0 20px 0;
    font-size: 2em;
  }
  .list, .link{
    font-size: 1.5rem;
  }
  .list {
    padding-left: 50px;
  }
  .gif {
    position: absolute;
    width: 100px;
    left: 45%;
    top: 160px;
  }
  .image {
    width: 25em;
    height: auto;
    position: absolute;
  }
}
@media screen and (max-width: 800px) {
  .content {
    width: 90%;
    height: 90%;
  }
  .title {
    font-size: 3.5em;
    width: 90%;
  }
  .subtitle {
    font-size: 2em;
  }
  .list, .link{
    font-size: 1.5rem;
  }
  .list {
    padding-left: 50px;
  }
  .gif {
    width: 80px;
    top: 150px;
  }
  .image {
    width: 25em;
  }
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 3em;
  }
  .subtitle {
    font-size: 1.8em;
  }
  .list, .link{
    font-size: 1.3rem;
  }
  .gif {
    width: 60px;
    top: 120px;
  }
  .image {
    width: 25em;
  }
}
@media screen and (max-width: 480px) {
  .content{
    max-height: 70%;
  }
  .title {
    width: 70%;
    font-size: 2.7em;
    padding-bottom: 1em;
  }
  .subtitle {
    font-size: 1.4em;
  }
  .list, .lisk {
    font-size: 1em;
  }
  .imageContainer {
    width: 100%;
    display: fle;
    margin-bottom: 0;
    align-items: center;
  }
  .image {
    height: auto;
    width: 20em;
    position: absolute;
  }
  .gif {
    top: 170px;
  }
}
