.sigCanvas {
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  margin: 0;
  height: 230px;
}

.signatureContainer {
  display: flex;
  justify-content: center;
  position: relative;
  width: 450px;
}

.signatureButtonsContainer {
  position: absolute;
  bottom: 15px;
  right: 0;
  display: flex;
  gap: 15px;
  margin: 10px;
}

.buttonCancel, .buttonSave{
  all: unset;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.saveDisabled{
  color: gray;
}

.cancel{
  color: red;
}
.save{
  color: rgb(68, 188, 68);
}

@media screen and (max-width: 1024px) {
  .sigCanvas{
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .signatureContainer{
    width: 100%;
    height: 160px;
  }
  .sigCanvas{
    height: 160px;
    width: 100%;
  }
}