.sigCanvas {
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  margin: 15px 0;
  height: 250px;
}

.signatureContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

.signatureButtonsContainer {
  position: absolute;
  bottom: 15px;
  right: 0;
}

@media screen and (max-width: 360px) {
  .sigCanvas{
    height: 150px;
    width: 100%;
  }
}