.NavBar {
  background-color: #fff;
  width: min(1360px, calc(100% - 20px));
  padding: 15px 30px;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.07);
  border-radius: 50px;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 60px;
  padding-left: 15px;
}

.logo:hover{
  cursor: pointer;
}

.title {
  margin: 0;
  font-size: 24px;
}

.switchContainer{
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 1024px) {
  .title{
    display: none;
  }
}