.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}
.boldWord {
  font-weight: 500;
}

.modalButtonsContainer {
  display: flex;
  justify-content: space-between;
}

.text {
  font-size: 18px;
  text-align: center;
  padding: 15px 20px;
}

@media screen and (max-width: 480px) {
  .buttonsContainer {
    flex-direction: column-reverse;
    height: 150px;
  }
}
