.stepContainer{
    width: min(1024px, calc(100% - 20px));
    display: flex;
    justify-content: space-between;
    margin: 150px auto 0;
    align-items: center;
}

.step{
    width: 40px;
    height: 40px;
    background: #7e8382;
    color: white;
    font-weight: 700;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.activeStep{
    background: #25c89c;
}

.lineStep{
    height: 2px;
    flex: 1;
    background-color: #7e8382;
}

.lineStepActive{
    background-color:   #25c89c;
}